NEXT_PUBLIC_SITE_URL=https://kazkioti.kz

RESEND_API_KEY=re_xxx
RESEND_FROM=site@kazkioti.kz
RESEND_TO=info@kazkioti.kz

KV_REST_API_URL=
KV_REST_API_TOKEN=

WHATSAPP_NUMBER=77478764444
TELEGRAM_USERNAME=kazkioti
